*{
    margin:0;
    padding:0;
}
body{
    position: relative;
    background:#8a1b1b;
    
}
.ananas{
    background:#636e87;
    box-shadow: 0 0 350px black, 0 0 100px rgba(0, 0, 0, 0.521);
}
.navbar{
    padding-top: 30px;
}
.active{
    background:blue;
}

footer.hr{
    width:1px;
    margin: bottom 0px!important;;
}
h1, h2, h3, h4{
    padding-top:80px;
    text-align: center;
    padding-bottom:30px;
    text-shadow: 0 0 25px black;

}

figcaption
{
    color:rgba(0, 0, 0, 0.9)!important;
    font-weight: bold;
    font-style: italic;
    font-size: 16px !important;
    padding-top:8px;
}

li a{
    color: rgb(255, 255, 255)!important;
}

nav{
    background-color: orangered!important;
}

.insertedVideo{
    text-align: center;
}

video {
    width: 70%;
   margin:auto;
   display: block;
   box-shadow: 0 0 25px black;
    
}

p{
    font-size: 18px;
}

.GameplayImage{
    width: 80%;
    height: 80%;
    margin: auto;
    display: block;
}
.MapImage{
    width: 55%;
   ;
    margin: auto;
    display: block;
}

.panelSegmentInsert 
{
    background-color: #464d5e!important;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.342) inset, 0 0 100px rgba(0, 0, 0, 0.521);
}


.panelSegment
{
    background-color: #636e87;
    
}